.App{
    text-align: center;
    margin-top: 5%;
    
    
}

body{
   height:100%;
    color: #032;
    
}

.App-title{
    font-size: 50px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-style: italic;
    text-transform: capitalize;
}
.App-subtitle{
    font-size: 20px;
    
}

.Profile{
    
    display: flex;
    justify-content:center;
    
}

.well{
    background-color: #fff;
    opacity: 0.8;
    box-shadow: 5px 5px 20px #888888;
    color: #123;
    
}

.profile-info{
    text-align: left;
     margin-left : 10px;
     display: flex;
     flex-direction:column;
     justify-content:center;
     
}

.profile-image{
    
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border:3px solid #fff;
    box-shadow: 5px 5px 20px #888888;
    margin-right: 50px;
   
    
}

.profile-artist{
    font-size: 35px;
    color: rgba(233,45,123,43)
}

.profile-followers{
    font-size: 20px;
}



.track{
    display: inline-block;
    width:220px;
    height:220px;
   
    border-radius:20px;
    cursor: pointer;
    text-align: left;
    margin: 10px;
    position: relative;
    
}

.track-image{
    width:220px;
    height:220px;
    border:3px solid rgba(233,45,123,43);
    border-radius:20px;
    position: absolute;
    object-fit: cover;
    
}

.track-text{
    
    
    background-color:black;
    color: white;
    opacity: 0.75;
    font-size: 15px;
    width: 214px;
    margin-left: 3px;
    text-align: center;
    position: absolute;
    bottom:5px;
    
}

.track-play{
    width: 220px;
    height: 220px;
    position: absolute;
}

.play {
  position: absolute;
  text-align:center;
  font-size: 25px;
  background-color: black;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  color: white;
  opacity: 0;
  padding-top: 13px;
  margin-left: 80px;
  margin-top: 80px;
  
}
.play:hover{
    opacity: 0.8;
    animation-name: fade-in;
    animation-duration: 0.5s;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    
    to{
        opacity: 0.9;
    }
}

InputGroup{
    width:260px;
    margin: 50px;
}

#1{
    
  opacity: 0;
    
}